REFRESH_TOKEN= #Get from lkdr.nalog.ru local storage (refresh.token). Keep it secret
DEBUG_MODE=true
FNS_API_URL=https://lkdr.nalog.ru
APP_DOMAIN=qr-recepts.local
FNS_DEVICE_ID= #Get from lkdr.nalog.ru local storage (sourceDeviceId). Keep it secret
USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36 Edg/131.0.0.0"